.touch-controls-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 200px;
  pointer-events: none;
  display: none;
  z-index: 2000;
  padding: 0 40px 40px 40px;
}

@media (max-width: 900px) {
  .touch-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.joystick-left, .joystick-right {
  pointer-events: auto;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.joystick-left:active, .joystick-right:active {
  opacity: 1;
}

@media (max-width: 480px) {
  .touch-controls-container {
    padding: 0 20px 20px 20px;
  }
}
